
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузка расписания</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <link href="cstyles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="hd">
        <h1>
            ТАРАЗСКИЙ РЕГИОНАЛЬНЫЙ УНИВЕРСИТЕТ<br>
            ИМ. М.Х. ДУЛАТИ<br>
        </h1>
    </div>
    <div class="mnvh">
        <p>
            ЗАГРУЗКА РАСПИСАНИЯ
        </p>
    </div>
    <div class="main">
        <table width="100%">
            <tbody>
                <tr>
                    <td width="100%" class="rtmn">
                        <div class="sl" id="app">
                            <div class="upload_form">
                                <form>
                                <div class="input">
                                        <div class="lable">Факультет</div>
                                        <select class="styled-select" v-model="getTableData.faculty">
                                            <option v-for="faculty in faculties">{{faculty}}</option>
                                        </select>
                                    </div>
                                    <div class="input">
                                        <div class="lable">Курс</div>
                                        <select class="styled-select" v-model="getTableData.course">
                                            <option>1 курс</option>
                                            <option>2 курс</option>
                                            <option>3 курс</option>
                                            <option>4 курс</option>
                                            <option>5 курс</option>
                                        </select>
                                    </div>
                                    <div class="input">
                                        <div class="lable">Язык</div>
                                        <select class="styled-select" v-model="getTableData.language" @change="getGroups">
                                            <option>русский</option>
                                            <option>казахский</option>
                                        </select>
                                    </div>
                                    <div class="input">
                                        <div class="lable">Группа</div>
                                        <select class="styled-select" v-model="getTableData.groupe">
                                            <option v-for="group in groups">{{ group }}</option>
                                        </select>
                                    </div>
                                </form>
                                <button class="mntl upload_button disabled" v-if="!getTableData.groupe?.length">
                                    Получить
                                </button>
                                <button class="mntl upload_button" v-else >
                                    <a @click="clearData" :href="hrefToFile">Получить</a>
                                </button>
                                <div class="files" v-if="showFiles">
                                    <ul class="files_ul">
                                        <li v-for="file in files">
                                            <a :href="file">{{ file }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
let app = new Vue({
    el: '#app',
    data: {
        files: [],
        table: '',
        faculties: [],
        groups: [],
        getTableData: {
            faculty: '',
            course: '',
            language: '',
            groupe: {},
        },
        showFiles: false,
        isButtonDisabled: true,
    },
    mounted() {
        this.getFaculties();
    },
    methods: {
        getFaculties() {
            axios.get('getData.php', { params: { get_faculties: 'asdf'}})
                .then(data => this.faculties = data.data.faculties);
        },
        getGroups() {
            axios.get('getData.php', { params: { get_groups: this.getFilesPath }})
                .then(data => this.groups = data.data.groups).then(console.log(this.groups));
        },
        clearData() {
            this.getTableData = {
                faculty: '',
                course: '',
                language: '',
                groupe: {},
            }
        }
    },
    computed: {
        getFilesPath() {
            const upData = this.getTableData;
            return upData.faculty + '/' + upData.course + '/' + upData.language
        },
        hrefToFile() {
            const upData = this.getTableData;
            return 'uploads/'
                    +  upData.faculty
                    + '/'
                    + upData.course
                    + '/'
                    + upData.language
                    + '/'
                    + upData.groupe;
        }
    }
})
</script>
<style scoped>
#app {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 20px 0;
    text-align: center;

}
.upload_button {
    padding: 10px 15px;
    margin-top: 20px;
    cursor: pointer;
}

.description {
    font-weight: 700;
}

.upload_form {
    padding: 10px;
}
.upload_form button {
    display: block;
}

.styled-select {
    padding: 5px;
    width: 400px;
}

.input {
    display: flex;
    align-items: center;
    width: 500px;
    justify-content: space-between;
    font-weight: 600;
    margin: 10px 0;
}

.files {
    text-align: left;
    width: 500px;
}
.files_ul li {
    margin: 5px 0;
}

.disabled {
    background: rgb(204, 204, 204);
    cursor: not-allowed;
}

.mntl {
    margin: 0;
}

</style>
</body>
</html>